@page
@model ASPuppgiftETT.Pages.EventPageModel

@{
    ViewData["Title"] = "EventPage";
}


<div class="container">
    <h1 class="text-center">EventPage</h1>

    <p>
        <a class="btn btn-success" asp-page="./Options/CreateEvent">Create New</a>
    </p>

    <div class="container d-flex justify-content-center">
        @foreach (var item in Model.Event)
        {
            <div class="card mx-2" style="width: 18rem;">
                <img src="/images/summerburst.png" class="card-img-top" alt="" />
                <div class="card-body d-flex flex-column">
                    <h5 class="text-center">@Html.DisplayFor(modelItem => item.Title)</h5>
                    <p>OrganizerId: @Html.DisplayFor(modelItem => item.OrganizerId)</p>
                    <p>Description: @Html.DisplayFor(modelItem => item.Description)</p>
                    <p>Location: @Html.DisplayFor(modelItem => item.Location)</p>
                    <p>Adress: @Html.DisplayFor(modelItem => item.Adress)</p>
                    <p>Date: @Html.DisplayFor(modelItem => item.Date)</p>
                    <p>Tickets_left: @Html.DisplayFor(modelItem => item.Tickets_left)</p>

                    <a href="#" class="btn btn-primary align-self-center">Join Event</a>
                </div>
            </div>
        }
    </div>
</div>

 

